body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff680;
    color: #b3a500;
    text-align: center;
    padding: 1em 0;
    border-radius: 0px 0px 15px 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #b3a500;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.intro, .about, .theme, .distinctive, .collection, .join {
    background-color: #ffffff;
    padding: 40px 0;
}

h2 {
    color: #ffd700;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    color: #000000;
}

section.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.Section-Productos{
    width: 90%;
    margin: auto;
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo-principal{

}

.producto-imagen {

}
.producto-detalles{

}

.producto-titulo{

}

.producto-precio{

}

.producto-agregar {

}

footer {
    background-color: #fff680;
    color: #b3a500;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}